html {
    font-size: calc(var(--font-size) * 425 / 390)
}

@media (max-width: 430px) {
    html {
        font-size: calc(var(--font-size) * 430 / 390)
    }
}

@media (max-width: 425px) {
    html {
        font-size: calc(var(--font-size) * 425 / 390)
    }
}

@media (max-width: 420px) {
    html {
        font-size: calc(var(--font-size) * 420 / 390)
    }
}

@media (max-width: 410px) {
    html {
        font-size: calc(var(--font-size) * 410 / 390)
    }
}

@media (max-width: 400px) {
    html {
        font-size: calc(var(--font-size) * 400 / 390)
    }
}

@media (max-width: 390px) {
    html {
        font-size: calc(var(--font-size) * 390 / 390)
    }
}